@page "/"
<div class="kt-portlet">
    <div class="kt-portlet__body">
        <div class="kt-infobox">
            <div class="kt-infobox__header">
                <h2 class="kt-infobox__title">Welcome to World of Blazor Component Library</h2>
            </div>
            <div class="kt-infobox__body">
                <div class="kt-infobox__section">
                    <h3 class="kt-infobox__subtitle">Basic Information</h3>
                    <div class="kt-infobox__content">
                        <h5>You will learn lots of stuff regarding Blazor.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {


}

